@import url('../CSS/vars.css');

* {
    margin: 0;
    padding: 0;
    font-family: var(--font);
}

body, html {
    width: 100%;
    height: 100%;
    background-color: var(--bg);
}

.card {
    width: 400px;
    height: 60%;
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-radius: 20px;
}

.card-title{
    font-size:30px;
}

body {
    color: var(--yellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.difficulty-redirects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.difficulty-redirects .button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    color: var(--white);
    font-size: 25px;
    width: 250px;
    height: 50px;
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
    gap: 10px;
    text-align: center;
}

.difficulty-redirects .easy-redirect .button-wrapper {
    background-color: var(--blue);
}

.difficulty-redirects .medium-redirect .button-wrapper {
    background-color: var(--violet);
}

.difficulty-redirects .impossible-redirect .button-wrapper {
    background-color: var(--red);
}

.difficulty-redirects .button-icon{
    width:40px;
    height:40px;
}

.button-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow);
    cursor: pointer;
}

.button-icon {
    width: 40px;
    height: 40px;
}

.logout-button{
    position:absolute;
    margin-top:-350px; 
    margin-right:-275px;
}
