@import url('../CSS/vars.css');

* {
    margin: 0;
    padding: 0;
    font-family: var(--font);
}

body, html {
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
}

.card {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 500px;
    background-color: var(--dark-blue);
    border-radius: 15px;
}

.game-top {
    height:80%;
    display: flex;
    flex-direction: row;
    padding: 50px;
    position: relative;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    flex: 3;
    border: 2px solid red;
}

.cell {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    border-collapse: collapse;
    cursor: pointer;
}

.stop-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    flex: 1;
}

.home-button, .reset-button {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

.button-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow);
    cursor: pointer;
}

.button-icon {
    width: 70px;
    height: 70px;
}

.game-bottom {
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.score-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap:10px;
}

.left-player, .right-player {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    height:100%;
    border:solid var(--yellow) 2px;
    gap:30px;
}

.player-name {
    font-size: 30px;
    font-weight: bold;
    background-color: var(--yellow);
    width:160px;
    height:120%;
    color:var(--dark-blue);
    text-align: center;
}

.player-symbol{
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-symbol img {
    width: 30px;
    height: 30px;
}

.player-score {
    font-size: 2em;
    font-weight: bold;
}

.dialog {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 1000;
}

.dialog.show {
    display: block;
}

.dialog button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}