@import url('../CSS/vars.css');

*{
    margin:0;
    padding:0;
    font-family: var(--font);
}

body, html{
    width:100%;
    height:100%;
    background-color: var(--bg);
}

input::placeholder{
    color:var(--blue);
    opacity:1;
}

.card{
    width:400px;
    height:60%;
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    border-radius:20px;
}

body{
    color: var(--blue);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:50px;
}

input, .login-submit{
    text-align: center;
}

.alert-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
    width: 300px;
    padding: 20px;
    text-align: center;
}

.alert-box p {
    font-size:20px;
}

.alert-box button {
    background-color: var(--blue);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input{
    background-color: var(--violet);
    color:var(--white);
    font-size:25px;
    border-radius: 10px;
    height:40px;
}

.login-submit input{
    background-color: var(--blue);
    color:white;
    font-size:25px;
    width:150px;
    height:40px;
    border-radius: 20px;
}

::placeholder{
    color:white
}