@import url('../CSS/vars.css');

*{
    margin:0;
    padding:0;
    font-family: var(--font);
}

body, html{
    width:100%;
    height:100%;
    background-color: var(--bg);
}

.card{
    width:400px;
    height:60%;
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    border-radius:20px;
}

body{
    color: var(--red);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:50px;
}

input, .register-submit{
    text-align: center;
}

input{
    background-color: var(--light-red);
    color:var(--white);
    font-size:25px;
    border-radius: 10px;
    height:40px;
}

.register-submit input{
    background-color: var(--red);
    color:white;
    font-size:25px;
    width:150px;
    height:40px;
    border-radius: 20px;

}

::placeholder{
    color:white
}
