:root{
    --bg: #043c3e;
    --dark-blue: #16122aff;
    --blue: #1b9aaaff;
    --violet: #735cddff;
    --yellow: #f2ff00ff;
    --red: #ee2e31ff;
    --font: "Tiny5";
    --white: #ffffff;
    --black: #000000;
    --light-red: #FC9D9D;
}